@model IEnumerable<Clean.UpIndia.Models.PublicToilet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpenHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpenHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localities.LocalityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToiletId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToiletId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToiletId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
