@model IEnumerable<Clean.UpIndia.Models.PublicToilet>

@{
    ViewData["Title"] = "Index";
}


@section BodyStyle{
    <style>
        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmZFbsD_1_30paLwMs46aM7AVE2VUJ7mNPCw&usqp=CAU');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
}

<h1>Our Country</h1>

    <p>
        <a button class=" btn btn-primary" asp-action="Create">New PublicToilet</a>
    </p>



    <div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" style="background-color:bisque">
             Toilet Id   : @item.ToiletId
            </div>
            <div class="card-body" style="background-color:ivory">
                @Html.DisplayNameFor(modelItem => item.OpenHours) : @item.OpenHours
                <br />
                @Html.DisplayNameFor(modelItem => item.IsAvailable) : @item.IsAvailable
                <br>
                @Html.DisplayNameFor(modelItem=> item.Localities.LocalityName) : @item.Localities.LocalityName
                <br>


            </div>
            <div class="card-footer" style="background-color:cadetblue">
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.ToiletId">Edit</a>
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ToiletId">Event Details</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.ToiletId">Delete</a>
            </div>
        </div>

    }
</div>
<a asp-area="CleanUpIndia" asp-controller="Events" asp-action="Index">List of Events</a>





@*<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpenHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpenHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localities.LocalityName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ToiletId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ToiletId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ToiletId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@